Submit 2 examples for each module.
1. while loop
2. for loop
3. if else
4. if elif else
5. user defined functions without for loop, if loop
6. user defined functions with for loop
7. user defined functions with for loop and if condition
8. break
9. continue
10. for loop with in operator
11. for loop with if statement 
12. for loop with not in operator
13. if with in operator
14. if with not in opearator

### 1. WHILE LOOP :  The while loop in Python is used to iterate over a block of code as long as the test expression (condition) is true.

In [1]:
# 1.program to find multiples of a number
n=int(input("ENTER A NUMBER: "))

i= 1
print("The multiples of number",n,"are:")
while (i<=10):
    print(n,"*",i,"=",(n*i))
    i+=1

ENTER A NUMBER: 10
The multiples of number 10 are:
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [2]:
# 2. Program to find odd number till n numbers

n=int(input("ENTER A NUMBER: "))
print("The odd numbers till" ,n ,"are")
i=1
while i<=n:
    print(i)
    i=i+2

ENTER A NUMBER: 20
The odd numbers till 20 are
1
3
5
7
9
11
13
15
17
19

### 2. FOR LOOP :The for loop in Python is used to iterate over a sequence  or other iterable objects. Iterating over a sequence is called traversal.

In [3]:
# eg.01
name = "PRIYANKA KRISHNA"

for letter in name:
    print(letter)

P
R
I
Y
A
N
K
A

K
R
I
S
H
N
A

In [4]:
#eg.02
veggies=['Potato','Carrot','Beans',"Onion","Mirchi"]

for vegetables in veggies:
    print("The name of vegetable is:",vegetables)

The name of vegetable is: Potato
The name of vegetable is: Carrot
The name of vegetable is: Beans
The name of vegetable is: Onion
The name of vegetable is: Mirchi

### 3. if-else : 

The if..else statement evaluates test expression and will execute the body of if only when the test condition is True.

If the condition is False, the body of else is executed. Indentation is used to separate the blocks.

In [5]:
#1. Check wether the number is greater than or less than
num1=int(input("ENTER A NUMBER: "))
num2=int(input("ENTER A NUMBER: "))

if num1 > num2:
    print("Hence,",num1,"is greater than",num2)
else:
    print("Hence",num1,"is less than",num2)

ENTER A NUMBER: 8
ENTER A NUMBER: 20
Hence 8 is less than 20

In [6]:
#2. checking wether eligible for voting based on age
name=input("Enter your name:")
Age=int(input("Enter your age:"))

if Age<18:
    print(Age,"Your not eligible for voting")
else:
    print("Hello",name,"Your are eligible for voting")

Enter your name:priya
Enter your age:21
Hello priya Your are eligible for voting

### 4. if elif else
If the condition for if is False, it checks the condition of the next elif block and so on.

If all the conditions are False, the body of else is executed.

In [7]:
marks = int(input("Enter the marks:"))

if marks >= 90:
    print("Your qualification is Outstanding ")
elif marks>=80 and marks<90:
    print("Your qualification is Excellent")
elif marks>=70 and marks<80:
    print("Your qualification is Very Good")
elif marks>60 and marks<70:
    print("Your qualification is Good")
else:
    print("Need to improve")

Enter the marks:86
Your qualification is Excellent

In [8]:
age= int(input("Please enter your age:"))
if age<5:
    print("The person is still not eligible for schooling.")
elif age<15 and age>5:
    print("The person should be pursuing his schooling.")
else:
    print("The person should have completed his schooling")

Please enter your age:15
The person should have completed his schooling

### 5. user defined functions without for loop, if loop

In [9]:
#1. defining an user defined function 
def welcome():
    print("Welcome to our class:)")
    print("Thnakyou!!")

In [10]:
welcome()

Welcome to our class:)
Thnakyou!!

In [11]:
#2. defining power of certain number

def power(base,exponent):
    output=(base**exponent)
    return(output)

In [12]:
power(6,3)

216

### 6. user defined functions with for loop

In [13]:
def user_name(name):
    for i in name:
        print(i)
    return("Thankyou")

In [14]:
user_name('PRIYA')

P
R
I
Y
A

'Thankyou'

In [15]:
def SQUARES_OF_NUMBERS():
    for i in range(1,11):
        print(i*i)
    return("Thankyou")

In [16]:
SQUARES_OF_NUMBERS()

1
4
9
16
25
36
49
64
81
100

'Thankyou'

In [17]:
def POWER_OF_NUMBERS():
    for i in range(1,11):
        print(i**i)
    return("Thankyou")

In [18]:
POWER_OF_NUMBERS()

1
4
27
256
3125
46656
823543
16777216
387420489
10000000000

'Thankyou'

### 7. user defined functions with for loop and if condition

In [19]:
def user_input():
    for i in range(1,11):
        if i%2==0:
            print("user input",i," is divisible by 2")
        else:
            print("user input",i," is not divisible by 2")

In [20]:
user_input()

user input 1  is not divisible by 2
user input 2  is divisible by 2
user input 3  is not divisible by 2
user input 4  is divisible by 2
user input 5  is not divisible by 2
user input 6  is divisible by 2
user input 7  is not divisible by 2
user input 8  is divisible by 2
user input 9  is not divisible by 2
user input 10  is divisible by 2

In [21]:
sentence = input("Enter the sentence:")
def vowels(sentence):
    length=len(sentence)
    count=0
    for i in range(length):
        if (sentence[i].lower() in ['a','e','i','o','u']):
            count=count+1
    print("THE NO.OF VOWELS IN SENTENCE ARE: ",count)   
vowels(sentence)
                
#DATA SCIENCE IS UPCOMING FUTURE

Enter the sentence:data science is upcoming future
THE NO.OF VOWELS IN SENTENCE ARE:  12

### 8.BREAK

In [22]:
for letter in "hey buddies":
    if letter == "i":
        break
    print(letter)

print("The end")

h
e
y

b
u
d
d
The end

In [23]:
for num in range(1,30):
    if num == 27:
        break
    print(num)

print("The end")

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
The end

### 9. CONTINUE

The continue statement is used to skip the rest of the code inside a loop for the current iteration only. Loop does not terminate but continues on with the next iteration.

In [24]:
for i in "DATABASE SYSTEM":
    if i == "E":
        continue
    print(i)

print("The end")

D
A
T
A
B
A
S

S
Y
S
T
M
The end

In [25]:
for i in range(1,10):
    if i%2 or i%3:
        continue
    print(i)

6

In [26]:
for i in range(1,10):
    if i%2 and i%3:
        continue
    print(i)

2
3
4
6
8
9

### 10. for loop with in operator

In [27]:
for i in range(1,15):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [28]:
for i in "rama":
    print(i)

r
a
m
a

### 11. for loop with if statement

In [29]:
for i in range(0,50):
    if i%3==0:
        print(i)

0
3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48

In [30]:
for letter in "SUPERSTAR":
    if letter=='A':
        print("A is found")
    else:
        print("letter is not A")

letter is not A
letter is not A
letter is not A
letter is not A
letter is not A
letter is not A
letter is not A
A is found
letter is not A

### 12. for loop with not in operator

In [31]:
quote=("DON'T","WAIT","FOR","THE","DOOR","TO","OPEN","KICK","IT" ,"DOWN")

for i in quote:
    print("THE" not in quote)

False
False
False
False
False
False
False
False
False
False

In [32]:
colors=("red",'orange','green')
for i in colors:
    print("blue" not in colors)

True
True
True

### 13. if with in operator

In [33]:
names=["marwel",'don','raju','chutki']

if "chutki"  in names:
    print(" chutki in the names list")

 chutki in the names list

### 14. if with not in opearator

In [34]:
names=["marwel",'don','raju','chutki']

if "bean" not in names:
    print(" bean not in the names list")

 bean not in the names list